# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# IDE
.vs/
.vscode/
*.csproj
*.sln
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db

# Art source files
*.psd
*.blend
*.max

# Build / Executables
*.exe
*.apk
*.aab
*.app
Build/
Builds/
